@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 8px !important;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #ffffff3b;
  border-radius: 2px;
  scroll-behavior: smooth;
}